<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60*100; url=https://fast-woodland-70792.herokuapp.com/share" />
    <script src="static/processing.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script src="static/style.js"></script>
    <script>
      const timeLimit = 60*100;
      const timerExec = false;
      function setup(){
      //キャンバスを作成
      var myCanvas = createCanvas(400, 300);
      myCanvas.parent("canvasContainer");
      //図形の線無し
      noStroke();
      textAlign(CENTER,CENTER);
      textSize(50);
    }
    function draw(){
      const timerX = width/2;
      const timerY = height/2;
      const ms = Math.floor(millis()/1000);
      background(250);
      //オブジェクトの色をランダム（透明度70）
      fill(random(255),random(255),random(255),70);
      //キャンバスの中心に直径100pxの丸を描画
      ellipse(random(width),random(height),random(100));

      var countDown = timeLimit - ms;
      fill(0);
    if(60*60 - 1< countDown && countDown < 60*60*10 && Math.floor((countDown - 60*60*Math.floor(countDown/(60*60)))/(60)) < 10 && countDown%60 < 10){
      //1時間以上10時間以下 かつ 0分以上10分未満 かつ 0秒 < n < 10秒
      text("0" + Math.floor(countDown/(60*60)) + ":0" + Math.floor((Math.floor(countDown - 60*60*Math.floor(countDown/(60*60)))/(60))) + ":0" + Math.floor(countDown%60), timerX, timerY);
    }else if(60*60 - 1< countDown && Math.floor((countDown - 60*60*Math.floor(countDown/(60*60)))/(60)) < 10 && countDown < 60*60*10){
      //1時間以上10時間以下 かつ 0分以上10分未満 かつ 9秒 < n < 60秒
      text("0" + Math.floor(countDown/(60*60)) + ":0" + Math.floor(((countDown - 60*60*Math.floor(countDown/(60*60)))/(60))) + ":" + Math.floor(countDown%60), timerX, timerY);
    }else if(60*60 - 1< countDown && countDown < 60*60*10 && countDown%60 < 10){
      //1時間以上10時間以下 かつ 10分以上60分未満 かつ 0秒 < n < 10秒
      text("0" + Math.floor(countDown/(60*60)) + ":" + Math.floor(((countDown - 60*60*Math.floor(countDown/(60*60)))/(60))) + ":0" + Math.floor(countDown%60), timerX, timerY);
    }else if(60*60 - 1< countDown && countDown < 60*60*10){
      //1時間以上10時間以下 かつ 10分以上60分未満 かつ 9秒 < n < 60秒
      text("0" + Math.floor(countDown/(60*60)) + ":" + Math.floor(((countDown - 60*60*Math.floor(countDown/(60*60)))/(60))) + ":" + Math.floor(countDown%60), timerX, timerY);
    }else if(60*10 - 1 < countDown && countDown < 60*60 && countDown%60 < 10){
      //10分以上60分未満 かつ 0秒 < n < 10秒
      text(Math.floor(countDown/60) + ":0" + Math.floor(countDown%60), timerX, timerY);
    }else if(60*10 - 1 < countDown && countDown < 60*60 ){
      //10分以上60分未満 かつ 9秒 < n < 60秒
      text(Math.floor(countDown/60) + ":" + Math.floor(countDown%60), timerX, timerY);
    }else if(59 < countDown && countDown < 60*10 && countDown%60 < 10){
      //1分 < n < 10分 かつ 0秒 < n < 10秒
      text("0" + Math.floor(countDown/60) + ":0" + Math.floor(countDown%60), timerX, timerY);
    }else if(59 < countDown && countDown < 60*10){
      //1分 < n < 10分 かつ　9秒 < n < 60秒
      text("0" + Math.floor(countDown/60) + ":" + Math.floor(countDown%60), timerX, timerY);
    }else if(9 < countDown && countDown < 60){
      //9秒 < n < 60秒
      text("00:" + countDown, timerX, timerY);
    }else if(0 < countDown && countDown < 10){
      //0秒 < n < 10秒
      text("00:0" + countDown, timerX, timerY);
    }else{
      text("00:00", timerX, timerY);
      showMessageDialog(null, "TIME UP!", "Alert", ERROR_MESSAGE);
      noLoop();
    }
    }
    </script>
    <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-info justify-content-center">
    <!-- Navbar content -->
    <p style="font-size: 20px;">ポモドーロタイマー for online class</p>
  </nav>

  <div class="d-flex justify-content-around" id="canvasContainer"></div>
    <!--div id="wrapper">
        <canvas id="processing-canvas" data-processing-sources="static/sample.pde"></canvas>
    </div-->
    <div id="share" class="d-flex justify-content-around">
    <a href="https://twitter.com/share" 
    class="twitter-share-button" 
    data-url="【ページのURL】" 
    data-text="無念、集中力の限界...授業名：　　　"
    data-via=""
    data-size="large"
    data-related="jabelic:フロントエンド開発,"
    data-count="vertical" 
    data-hashtags="pomodoroTimerForOnLineClass">Tweetで報告しよう！
        </a>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
<script src="static/main.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>