<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="6; url=share" />
    <script src="static/processing.js"></script>
    <title>Document</title>
</head>

<body>
    <a href="" style="align-content: center;"><div id="wrapper">
        <canvas id="processing-canvas" data-processing-sources="sample.pde"></canvas>
    </div></a>
    <div id="share">
    <a href="https://twitter.com/share" 
    class="twitter-share-button" 
    data-url="【ページのURL】" 
    data-text="無念、集中力の限界...授業名：　　　"
    data-via=""
    data-size="large"
    data-related="jabelic:フロントエンド開発,"
    data-count="vertical" 
    data-hashtags="pomodoroTimerForOnLineClass">Tweetで報告しよう！
        </a>
  </div>

</body>
<script src="static/main.js"></script>
<script type="text/processing" data-processing-target="processing-canvas">
import static javax.swing.JOptionPane.*;

int timeLimit = 100*60;
int countDown;
boolean timerExec = false;

void setup(){
  size(400, 300);
  textAlign(CENTER);
  textSize(50);
  //showMessageDialog(null, "test text");
}

void draw(){
  int timerX = width/2;
  int timerY = height/2;
  
  background(255);
  
  int ms = millis()/1000;
  
  countDown = timeLimit - ms;
  
  fill(0);
  if(0 < countDown){
    text("00:0" + countDown, timerX, timerY);
  }else{
    text("00:00", timerX, timerY);
    showMessageDialog(null, "TIME UP!", "Alert", ERROR_MESSAGE);
    noLoop();
  }
}
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>