<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Share</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-info justify-content-center">
    <!-- Navbar content -->
    <p style="font-size: 20px;">講義タイマー for online class</p>
  </nav>
      <h3 style="text-align: center;">受講終了をみんなにシェアしてマウントを取ろう！</h3>
    <div id="share">
      <div class="d-flex justify-content-around">
      <div class="card card-skin">
        <!--div class="card__imgframe"></div-->
        <div class="card__textbox">
          <div class="card__titletext" style="text-align: center;">
            <a href="https://twitter.com/share" 
        class="twitter-share-button" 
        data-url="https://fast-woodland-70792.herokuapp.com/" 
        data-text="受講を終えたよ！！授業名：　　　"
        data-via=""
        data-size="large"
        data-related="jabelic:フロントエンド/バックエンド, ya_fms:processing"
        data-count="vertical" 
        data-hashtags="pomodoroTimerForOnLineClass">Tweetで報告しよう！
            </a>
          </div>
          <!--div class="card__overviewtext">
            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
          </div-->
        </div>
      </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>