<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Share</title>
</head>
<body>
    <h2>受講終了をみんなにシェアしてマウントを取ろう！</h2>
    <div id="share">
      <div class="card card-skin">
        <!--div class="card__imgframe"></div-->
        <div class="card__textbox">
          <div class="card__titletext">
            <a href="https://twitter.com/share" 
        class="twitter-share-button" 
        data-url="https://fast-woodland-70792.herokuapp.com/" 
        data-text="受講を終えたよ！！授業名：　　　"
        data-via=""
        data-size="large"
        data-related="jabelic:フロントエンド/バックエンド, ya_fms:processing"
        data-count="vertical" 
        data-hashtags="pomodoroTimerForOnLineClass">Tweetで報告しよう！
            </a>
          </div>
          <!--div class="card__overviewtext">
            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
          </div-->
        </div>
      </div>
      </div>
</body>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>